.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font width deya laklo na cause default a 400 thake */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles  */
.secondary-background-color {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 9px;
    border: none;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
}

.section-description {
    font-size: 18px;

}

.text-center {
    text-align: center;
}



/* header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}


/* Nav styles */
nav {

    display: flex;
    align-items: center;
    /* nav parents er child ache h3 and ul ai duita ke alada korar jnno ai tag use kora hou=iche  */
    justify-content: space-between;
    margin: 0px 150px;
}

/* dark-2 color jehutu sob jaigai ache aijonno aita ekta class er modhe rakche */


.nav-title {
    /* Extra bold */
    font-weight: 800;

    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    /* ul er futa ghula tular jnno  */
    list-style: none;
    margin-right: 50px;
    /* margin-left: 50px; */
}

nav ul li a {
    /* anchor er under line tular jnno */
    text-decoration: none;

    font-size: 20px;

}


/* Banner styles */
.banner {
    /* banner-content and image ke sathe korar jnno ai tag */
    display: flex;
    justify-content: space-between;
    padding: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-welcome-greetings {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic {
    width: 584;
    height: 676;

}


/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;

}
main section{
     margin-top: 130px;
}


/* About styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
   

}

.bg-color {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}

.about-items {
    display: flex;
    /* aksathe lakhano ache alada korar jnno ai tag */
    justify-content: space-around;
    margin-right: 50px;
}

.item-description {
    font-weight: bold;
    font-size: 20px;
}

/* skills section styles */
.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    background: #FFF;
    /* border: 1px solid black; */

    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}


/* Resume section styles */

.section-title{
    text-align: center;
    margin-bottom: 113px;
}

.resume-container{
    display: flex;
     gap: 24px;
     
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.experience-sub-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin: 50px;
}
